body {
    background-color: white;
    overflow: hidden;
}
#bg1, #bg2 {
    position: absolute;
    top: 50px; right: 50px; bottom: 50px; left: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 1s ease-in-out;
    border-radius: 20px;
    pointer-events: none;
    user-select: none;
}
#bg2 {
    opacity: 0;
}